h4{
    color:DodgerBlue;
}
p.one,p.three,{
    border-style: solid;
    border-color:DodgerBlue;
}
    

.vamsii{
    border-style:solid;
    border-color:MediumSeaGreen;
    background-color:MediumSeaGreen;
}

.vinay{
    text-align: center;
    margin: 0%;
}
.ppp{

}




